{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/ocupus.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/nprogress.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/font-awesome.min.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap3/bootstrap-switch.css')}}">
<link rel="shortcut icon" href="{{url_for('.static', filename='images/favicon.ico')}}">
{% endblock %}

{% block title %}ocupus - Camera Viewer{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ocupus</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="connection-status"><div class="connection-text">No Connection</div><div class="fa fa-unlink fa-2x" style="color: white;"></div></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}



{% block content %}
   <div class="container-fluid">
      <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">System Control</a></li>
            <li class="control-switch"><input type="checkbox" name="control-safe" data-on-color="danger" data-off-color="info"></li>            
            <li><a href="#" id="reboot-button">Reboot <i class="fa fa-refresh"></i></a></li>
            <li><a href="#" id="shutdown-button">Shutdown <i class="fa fa-level-down"></i></a></li>
          </ul>
       </div>      
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id="alerts"></div>
          <div id="controls">
                {% for camera in cameras %}
        {% if 'v4l2settings-off' in camera %}
        <a class="btn btn-primary btn-success btn-lg" role="button" href="#" id="shutdown-button" onclick="reenableGain('{{ camera.name }}')">Reenable Gain for {{ camera.name }} <i class="fa fa-eye fa-3x"></i></a>
        {% endif %}
        
    {% endfor %}            

          </div>
          <div id="camera-panel" class="row">

          </div>
          
          <!-- Log data -->
          <div class="row" id="log-data">
            <div class="panel panel-success" id="log">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#log-data" href="#collapseOne">
                  Log
                </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body" id="log-information"></div>
              </div>
            </div>
          </div>

          <!-- Network Traffic -->
          <div class="row" id="nettraff-graph">
            <div class="panel panel-success" id="nettraff">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#nettraff-graph" href="#collapseNettraff">
                  Network Traffic
                </a>
              </div>
              <div id="collapseNettraff" class="panel-collapse collapse in">
                <div class="panel-body" id="traffic-graph"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
   </div>
    {% endblock %}

{% block scripts %}
<script>
  window.ocupusCameraBitRates = {}
  window.ocupusCameraOverlays = {}
    {% for camera in cameras %}
        {% if 'bitrate' in camera %}
        window.ocupusCameraBitRates['{{ camera.name }}'] = {{ camera.bitrate }};
        {% endif %}
        {% if 'overlay' in camera %}
        window.ocupusCameraOverlays['{{ camera.name }}'] = "{{ camera.overlay }}";
        {% endif %}

    {% endfor %}          
</script>
<script src="{{url_for('.static', filename='js/jquery-2.1.0.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/bootstrap-switch.js')}}"></script>
<script src="{{url_for('.static', filename='js/nprogress.js')}}"></script>
<script src="{{url_for('.static', filename='js/jquery-ui-1.10.4.custom.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/adapter.js')}}"></script>
<script src="{{url_for('.static', filename='js/d3.v3.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/ocupus.js')}}"></script>
<script>
  $("[name='control-safe']").bootstrapSwitch();
</script>
{% endblock %}
